@import "ezFonts";

/*** Variables ***/

$serif: "PT Serif",
serif;
$light: "SharpSansNo2Light",
Helvetica Neue,
Helvetica,
sans-serif;
$book: "SharpSansNo2Book",
Helvetica Neue,
Helvetica,
sans-serif;
$medium: "SharpSansNo2Medium",
Helvetica Neue,
Helvetica,
sans-serif;
$semibold: "SharpSansNo2Semibold",
Helvetica Neue,
Helvetica,
sans-serif;
$italic: "SharpSansNo2SemiboldOblique",
Helvetica Neue,
Helvetica,
sans-serif;
$bold: "SharpSansNo2Bold",
Helvetica Neue,
Helvetica,
sans-serif;
$extrabold: "SharpSansNo2Extrabold",
Helvetica Neue,
Helvetica,
sans-serif;
$mello: #0585CC;
$melloLight: #14a7f9;
$canyon: #C45F1A;
$onyx: #0C131B;
$bone: #FFFFFF;
$sand: #DAD3CC;
$sandPlus: #A39E99;
$sandMinus: #F8F6F5;

/*** End Variables ***/


/*** EZ Grid Module ***/

html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.ez-grid {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 0;
}

.ez-col {
    font-size: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .8333%;
    vertical-align: top;
}

.ez-col-12-lg {
    width: 100% / 12 * 12;
}

.ez-col-11-lg {
    width: 100% / 12 * 11;
}

.ez-col-10-lg {
    width: 100% / 12 * 10;
}

.ez-col-9-lg {
    width: 100% / 12 * 9;
}

.ez-col-8-lg {
    width: 100% / 12 * 8;
}

.ez-col-7-lg {
    width: 100% / 12 * 7;
}

.ez-col-6-lg {
    width: 100% / 12 * 6;
}

.ez-col-5-lg {
    width: 100% / 12 * 5;
}

.ez-col-4-lg {
    width: 100% / 12 * 4;
}

.ez-col-3-lg {
    width: 100% / 12 * 3;
}

.ez-col-2-lg {
    width: 100% / 12 * 2;
}

.ez-col-1-lg {
    width: 100% / 12 * 1;
}

@media only screen and (max-width: 900px) {
    .ez-col-12-med {
        width: 100% / 12 * 12;
    }
    .ez-col-11-med {
        width: 100% / 12 * 11;
    }
    .ez-col-10-med {
        width: 100% / 12 * 10;
    }
    .ez-col-9-med {
        width: 100% / 12 * 9;
    }
    .ez-col-8-med {
        width: 100% / 12 * 8;
    }
    .ez-col-7-med {
        width: 100% / 12 * 7;
    }
    .ez-col-6-med {
        width: 100% / 12 * 6;
    }
    .ez-col-5-med {
        width: 100% / 12 * 5;
    }
    .ez-col-4-med {
        width: 100% / 12 * 4;
    }
    .ez-col-3-med {
        width: 100% / 12 * 3;
    }
    .ez-col-2-med {
        width: 100% / 12 * 2;
    }
    .ez-col-1-med {
        width: 100% / 12 * 1;
    }
}

@media only screen and (max-width: 768px) {
    .ez-col-12-t1 {
        width: 100% / 12 * 12;
    }
    .ez-col-11-t1 {
        width: 100% / 12 * 11;
    }
    .ez-col-10-t1 {
        width: 100% / 12 * 10;
    }
    .ez-col-9-t1 {
        width: 100% / 12 * 9;
    }
    .ez-col-8-t1 {
        width: 100% / 12 * 8;
    }
    .ez-col-7-t1 {
        width: 100% / 12 * 7;
    }
    .ez-col-6-t1 {
        width: 100% / 12 * 6;
    }
    .ez-col-5-t1 {
        width: 100% / 12 * 5;
    }
    .ez-col-4-t1 {
        width: 100% / 12 * 4;
    }
    .ez-col-3-t1 {
        width: 100% / 12 * 3;
    }
    .ez-col-2-t1 {
        width: 100% / 12 * 2;
    }
    .ez-col-1-t1 {
        width: 100% / 12 * 1;
    }
}

@media only screen and (max-width: 600px) {
    .ez-col-12-sm {
        width: 100% / 12 * 12;
    }
    .ez-col-11-sm {
        width: 100% / 12 * 11;
    }
    .ez-col-10-sm {
        width: 100% / 12 * 10;
    }
    .ez-col-9-sm {
        width: 100% / 12 * 9;
    }
    .ez-col-8-sm {
        width: 100% / 12 * 8;
    }
    .ez-col-7-sm {
        width: 100% / 12 * 7;
    }
    .ez-col-6-sm {
        width: 100% / 12 * 6;
    }
    .ez-col-5-sm {
        width: 100% / 12 * 5;
    }
    .ez-col-4-sm {
        width: 100% / 12 * 4;
    }
    .ez-col-3-sm {
        width: 100% / 12 * 3;
    }
    .ez-col-2-sm {
        width: 100% / 12 * 2;
    }
    .ez-col-1-sm {
        width: 100% / 12 * 1;
    }
}

@media only screen and (max-width: 450px) {
    .ez-col-12-t2 {
        width: 100% / 12 * 12;
    }
    .ez-col-11-t2 {
        width: 100% / 12 * 11;
    }
    .ez-col-10-t2 {
        width: 100% / 12 * 10;
    }
    .ez-col-9-t2 {
        width: 100% / 12 * 9;
    }
    .ez-col-8-t2 {
        width: 100% / 12 * 8;
    }
    .ez-col-7-t2 {
        width: 100% / 12 * 7;
    }
    .ez-col-6-t2 {
        width: 100% / 12 * 6;
    }
    .ez-col-5-t2 {
        width: 100% / 12 * 5;
    }
    .ez-col-4-t2 {
        width: 100% / 12 * 4;
    }
    .ez-col-3-t2 {
        width: 100% / 12 * 3;
    }
    .ez-col-2-t2 {
        width: 100% / 12 * 2;
    }
    .ez-col-1-t2 {
        width: 100% / 12 * 1;
    }
}

@media only screen and (max-width: 320px) {
    .ez-col-12-xs {
        width: 100% / 12 * 12;
    }
    .ez-col-11-xs {
        width: 100% / 12 * 11;
    }
    .ez-col-10-xs {
        width: 100% / 12 * 10;
    }
    .ez-col-9-xs {
        width: 100% / 12 * 9;
    }
    .ez-col-8-xs {
        width: 100% / 12 * 8;
    }
    .ez-col-7-xs {
        width: 100% / 12 * 7;
    }
    .ez-col-6-xs {
        width: 100% / 12 * 6;
    }
    .ez-col-5-xs {
        width: 100% / 12 * 5;
    }
    .ez-col-4-xs {
        width: 100% / 12 * 4;
    }
    .ez-col-3-xs {
        width: 100% / 12 * 3;
    }
    .ez-col-2-xs {
        width: 100% / 12 * 2;
    }
    .ez-col-1-xs {
        width: 100% / 12 * 1;
    }
}


/*** End Module ***/
